* {
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');


body {
		 background-image: url(/img/background.png) ;
		 font-family: 'Verdana';
		 font-weight: bold;
		 font-size: 14px;
		 letter-spacing: 2px;
		 word-spacing: 2px;
		 color: #000000;
		 font-weight: 400;
		 text-decoration: rgb(68, 68, 68);
		 font-style: normal;
		 font-variant: normal;
		 text-transform: none;
	
}

.container {
	display: flex;
	height: 100vh;
}

.left  {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	animation-name: left;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-delay: 1s;
	background-color: white;
	box-sizing: inherit;
	text-align: center;
}

.right {
	flex: 1;
	transition: 1s;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}



.header > h2 {
	margin: 0;
	color: #4f46a5;
	font-size:24px;
}

.header > h4 {
	margin-top: 10px;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,.4);
	font-size: 20px;
}

.form {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.form > p {
	text-align: left;
	font-size: 10px;
	letter-spacing: 1px;
}

.form > p > a {
	color: #000;
	
}

.form-field {
	height: 46px;
	padding: 0 16px;
	border: 2px solid #ddd;
	border-radius: 4px;
	font-family: 'Rubik', sans-serif;
	outline: 0;
	transition: .2s;
	margin-top: 20px;
}

.form-field:focus {
	border-color: #0f7ef1;
}

.form > input {
	padding: 12px 10px;
	border: 0;
	background: linear-gradient(to right, #c81f42 0%,#0097ff 100%);
	border-radius: 3px;
	margin-top: 10px;
	color: #fff;
	letter-spacing: 1px;
	font-family: 'Rubik', sans-serif;
	font-size:  15px;
}

.animation {
	animation-name: move;
	animation-duration: .4s;
	animation-fill-mode: both;
	animation-delay: 2s;
}

.form > p > a{
	text-align: left;
	font-size: 15px;
	color: #0097ff;
	
	
}

.a1 {
	animation-delay: 2s;
}

.a2 {
	animation-delay: 2.1s;
}

.a3 {
	animation-delay: 2.2s;
}

.a4 {
	animation-delay: 2.3s;
}

.a5 {
	animation-delay: 2.4s;
	
}

.a6 {
	animation-delay: 2.5s;
}

@keyframes move {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-40px);
	}

	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

@keyframes left {
	0% {
		opacity: 0;
		width: 0;
	}

	100% {
		opacity: 1;
		padding: 20px 40px;
		width: 440px;
	}
}